.App {
  text-align: center;
}

body,
html {
  width: 100%;
  background-color: rgb(241, 188, 241);
}

button {
  margin-top: 400px;
  background-color: palevioletred;
  border: 2px solid white;
  color: white;
  height: 100px;
  width: 200px;
  font-size: 50px;
}

button:hover {
  cursor: help;
}

button:focus {
  outline: none;
}
